/* File: src/main/resources/me/dawey/erettsegifx/styles/crud-style.css */

/* Style for the TableView */

.table-view {
    -fx-background-color: #2b2b2b;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10;
    -fx-border-color: #3c3f41;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

/* Style for the TableColumn headers */
/*
.table-view .column-header-background {
    -fx-background-color: #2b2b2b;
}

.table-view .column-header .label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Style for the TableCell */
/*
.table-view .cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
}

/* Style for the TableRow */
/*
.table-view .table-row-cell {
    -fx-background-color: #2b2b2b;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #2b2b2b;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}
*/