.readTableView, .deleteTableView {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-min-width: 800px;
}

.readTableView .column-header-background, .deleteTableView .column-header-background {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.deleteTableView {
    -fx-pref-width: 100%;
    -fx-pref-height: 150px;
}

.readTableView {
    -fx-pref-width: 100%;
    -fx-pref-height: 450px;
}

.vbox {
    -fx-spacing: 15;
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-background-color: #2c2c2c;
    -fx-border-color: #444;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-pref-width: 250px;
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #ffffff;
    -fx-border-color: #555;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.text-field {
    -fx-pref-width: 250px;
    -fx-background-color: #3c3c3c;
    -fx-text-fill: #ffffff;
    -fx-border-color: #555;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.button {
    -fx-background-color: #5a5a5a;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #777;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 10px;
}

.button:hover {
    -fx-background-color: #6a6a6a;
}

.table-view .column-header-background .label {
    -fx-text-fill: #000000; 
}

.combo-box .text {
    -fx-fill: #ffffff;
}
.combo-box .list-view {
    -fx-background-color: #3c3c3c;
}