.windowButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.windowButton:hover {
    -fx-background-color: rgba(68, 68, 68, 0.29);  /* Gray background on hover */
    -fx-border-radius: 1;
    -fx-border-color: #fff;
}

.windowButtonExit {
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-size: 13px;
}

.windowButtonMinimize {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.windowButtonMinimize:hover {
    -fx-background-color: rgba(255, 255, 255, 0.29);
}

.windowButtonExit:hover {
    -fx-background-color: rgba(255, 0, 0, 0.29);  /* Red background on hover */
}
.menuButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.dark-theme-combo-box {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-border-color: #333;
}

.dark-theme-combo-box .list-cell {
    -fx-background-color: #333;
    -fx-text-fill: white;
}

.dark-theme-combo-box .combo-box-popup {
    -fx-background-color: #333;

}